.camera-view {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.camera-output {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.image-output {
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
}